{% extends 'Shared/base.html' %}
{% block content %}

<div class="bg-white dark:bg-gray-900 w-4/5 text-black dark:text-white"> 
    <div class="p-4">
        <h1 class="dark:text-white text-black font-bold mb-4 text-3xl" data-pg-class-style-inline="font-bold mb-4 text-3xl" data-pg-class-style="text">Customer Database Table</h1>
        <button type="button" class="flowbite text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="{% url 'customer_create' %}">Add New Customer</a></button>
        <h1 class="dark:text-white font-bold mb-4 text-3xl text-black"></h1>
        <table class="table-auto">
            <thead>
                <tr>
                    <th data-pg-class-style="text" data-pg-class-style-inline="px-4 py-2" class="dark:text-white text-black px-4 py-2">id</th>
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">name</th>
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">billing address</th>
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">shipping address</th>
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">phone #</th>
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">email</th>
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in object_list %}
                <tr>
                    <td class="dark:text-white border px-4 py-2">{{ customer.pk }}</td>
                    <td class="dark:text-white border px-4 py-2">{{ customer.name }}</td>
                    <td class="dark:text-white border px-4 py-2">{{ customer.billing_address }}</td>
                    <td class="dark:text-white border px-4 py-2">{{ customer.shipping_address }}</td>
                    <td class="dark:text-white border px-4 py-2">{{ customer.phone }}</td>
                    <td class="dark:text-white border px-4 py-2">{{ customer.email }}</td>
                    <td class="dark:text-white border px-4 py-2">
                        <div class="flowbite">
                            <button id="dropdownDefault{{ customer.pk }}" data-dropdown-toggle="dropdown{{ customer.pk }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Actions
                                <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdown{{ customer.pk }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault{{ customer.pk }}">
                                    <li>
                                        <a href="{% url 'customer_update' customer.pk %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'customer_delete' customer.pk %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
                                    </li>
                                    <li>

                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </div>                     
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="templating.js"></script>
{% endblock %}