{% extends 'Shared/base.html' %}
{% block content %}
<div class="bg-white dark:bg-gray-900 w-4/5 text-black dark:text-white"> 
    <div class="p-4"> 
        <h1 class="dark:text-white text-black font-bold mb-4 text-3xl" data-pg-class-style-inline="font-bold mb-4 text-3xl" data-pg-class-style="text">Accounts Receivable</h1>          
        <h1 class="dark:text-white font-bold mb-4 text-3xl text-black"></h1> 
        <table class="table-auto"> 
            <thead> 
                <tr> 
                    <th data-pg-class-style="text" data-pg-class-style-inline="px-4 py-2" class="dark:text-white text-black px-4 py-2">id</th>
                    <th data-pg-class-style="text" data-pg-class-style-inline="px-4 py-2" class="dark:text-white text-black px-4 py-2">Order id</th> 
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">Customer id</th> 
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">Customer Name</th> 
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">Amount</th> 
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">Paid?</th> 
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">Due Date</th> 
                    <th class="dark:text-white text-black px-4 py-2" data-pg-class-style-inline="px-4 py-2" data-pg-class-style="text">Actions</th> 
                </tr>                 
            </thead>             
            <tbody> 
                {% for accounts_receivable in object_list %}
                <tr> 
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.pk }}</td>
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.order.id }}</td> 
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.order.customer.id }}</td> 
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.order.customer.name }}</td> 
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.amount }}</td> 
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.paid }}</td> 
                    <td class="dark:text-white border px-4 py-2">{{ accounts_receivable.due_date }}</td> 
                    <td class="dark:text-white border px-4 py-2"> 
                        <div class="flowbite"> 
                            <button id="dropdownDefault{{ accounts_receivable.pk }}" data-dropdown-toggle="dropdown{{ accounts_receivable.pk }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Actions
                                <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> 
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>                                     
                                </svg>                                 
                            </button>                             
                            <!-- Dropdown menu -->                             
                            <div id="dropdown{{ accounts_receivable.pk }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700"> 
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault{{ accounts_receivable.pk }}"> 
                                    <li> <a href="{% url 'accounts_receivable_update' accounts_receivable.pk %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mark as {% if accounts_receivable.paid %}Not{% endif %} Paid</a> 
                                    </li>                                     
                                    <li> <a href="{% url 'order_update' accounts_receivable.order.id %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Update Order</a> 
                                    </li>                                     
                                    <li> <a href="{% url 'order_delete' accounts_receivable.order.id %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete Order</a> 
                                    </li>                                     
                                    <li> 
</li>                                     
                                    <li> 
</li>                                     
                                </ul>                                 
                            </div>                             
                        </div>                         
                    </td>                     
                </tr>                 
                {% endfor %}
            </tbody>             
        </table>         
    </div>     
</div> 
<script src="templating.js"></script>
{% endblock %}
