{% extends 'base.html' %}

{% block content %}
  <h1>Data</h1>
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Addresss</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for data in object_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.email }}</td>
            <td>
              <div class="btn-group d-md-none m-1">
                <button class="btn btn-primary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  data-boundary="window"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <span>Actions</span>
                </button>
                <div class="dropdown-menu">
                  <a href="{% url 'data_update' data.pk %}" class="dropdown-item">Update</a>
                  <br>
                  <a href="{% url 'data_delete' data.pk %}" class="dropdown-item">Delete</a>
                </div>
              </div>
              </td>
          </tr>
        {% endfor %}
      </tbody>
  <a href="{% url 'data_create' %}">add more data</a>
{% endblock %}